doctype html
html
  head
    //include partials/header.pug
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    nav
        if (!user)
            a(href='/login') Login 
            | | 
            a(href='/register') Register
        else
            a(href='/logout') Logout
            ||
            a(href='/users') Users
    block content
    include partials/footer.pug