include partials/header.pug

block content
    if (user & user.length)
        table
            thead
                th User ID
                th Username
            tbody
                each user in users
                    tr
                        td= user._id
                        td= user.username
        h1 No users!
include partials/footer.pug